{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'creator_list' %}">Creator Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>photo</td><td>{{ object.photo }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>email</td><td>{{ object.email }}</td></tr>
<tr><td>biodata</td><td>{{ object.biodata }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Creator</a>

{% endblock %}