{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'creatorphoto_list' %}">CreatorPhoto Listing</a></p>
<table class="table">
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>url</td><td>{{ object.url }}</td></tr>
<tr><td>deleted</td><td>{{ object.deleted }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit CreatorPhoto</a>

{% endblock %}